.card {
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    width: auto;
    padding: 20px;
    transition: background-color 0.3s ease;

}

.card:hover {
    background-color: #f3f4f6;
}

.card h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #111827;
}

.card p {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #4b5563;
}

img {
    width: 250px;
}